@model IEnumerable<MVCModels.Web.Models.Recipe>
@{
    ViewData["Title"] = "Index";
}

<h2>All Recipes</h2>
<style>


    .grid-container {
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 0px 50px;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(134, 215, 118, 0.49);
    }

    .grid-item img {
        width: 350px;
    }

    #stars-img img {
        width: 33%;
    }


</style>
<div class="grid-container">
    @foreach (Recipe item in Model)
    {
        <div class="grid-item">
            <img src="~/images/@item.ImageName" />

        </div>
    }

    @foreach (Recipe item in Model)
    {
        <div class="grid-item">
            <div style="font-weight:bold; color: dodgerblue; font-size: 20px;">@item.Name </div>
            <br />

            <div style="position: relative;" id="stars-img">
                @switch (Convert.ToInt32(item.AverageRating))
                {
                    case 1:
                        <img src="~/images/1-star.png" />
                        break;
                    case 2:
                        <img src="~/images/2-star.png" />
                        break;
                    case 3:
                        <img src="~/images/3-star.png" />
                        break;
                    case 4:
                        <img src="~/images/4-star.png" />
                        break;
                    case 5:
                        <img src="~/images/5-star.png" />
                        break;
                    default:
                        break;

                }
                <div style=" float: right; display:inline">
                    @item.Ingredients.Count ingredients
                </div>
            </div>

        </div>
    }
 
</div>

